img[alt]{
  border-radius: 50%;
}
input[type="radio"] {
  margin: 25px;
}

a[href="https://www.freecodecamp.org/espanol/Anabalon_Maximiliano"] {
  color: deeppink;
  text-decoration: none;
  font-weight: bold;
}

div {
  border-width: 4px;
  border-color: black;
  border-style: solid;
}

img{
  padding: 25px;
  margin: 25px;
 
  border-width: 4px;
  border-color: black;
  border-style: solid;
}

.color-pagina {
  background-color: rgb(88, 188, 25);
}

#div{
  background-color: rgb(4, 15, 16);
}

#lista-gatos{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: blueviolet;
  font-size: 20px;
}

.imagen-de-gatos {
  width: 150px;
  border-radius: 50%;
  border-width: 10px;
  border-color: rgb(21, 166, 41);
  border-style: solid ;
}

.bordesredondeados{
  border-radius: 70%;
}

h2 {
  font-family: "Workbench", sans-serif;
  font-size: 40px;
  color: rgb(3, 159, 3);
}

h3 {
  font-family: "Satisfy", cursive ;
  color: blue;
  font-size: 25px;
}

a {
  font-family: "Workbench", sans-serif ;
}